/* Global */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  color: #222;
}

.app {
  max-width: 400px;
  margin-top: 50px;
  padding: 20px;
  /* border-radius: ; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background: white;
  
  p{
    text-align: center;
    font-size: 12px;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

/* Input */
.task-input {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  /* border-radius: 6px; */
  border: 2px solid black;
}

.add-btn {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  background: black;
  border: none;
  font-size: 10px;
  /* border-radius: 6px; */
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
}

.add-btn:hover {
  background: #d11a2a;
}

/* Filters */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter-btn {
  flex: 1;
  padding: 3px;
  margin: 0px 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 8px;
  /* border-radius: 6px; */
  cursor: pointer;
}

.filter-btn.active {
  background: #d11a2a;
  color: white;
}

/* Task Item */
.task-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 8px; */
  /* border-bottom: 1px solid #ddd; */
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-text {
  flex: 1;
  margin: 0 10px;
}

.edit-input {
  flex: 1;
  margin: 0 10px;
  padding: 4px;
  font-size: 1rem;
}

.actions button {
  margin-left: 5px;
  padding: 2px 8px;
  width: 115px;
  font-size: 10px;
  border: 1.5px solid black;
  /* border-radius: 6px; */
  cursor: pointer;
}

.edit-btn {
  background: #fff;
  color: black;
  
}

.delete-btn {
  background: #d11a2a;
  color: white;
}

/* Footer */
.remaining {
  margin-top: 15px;
  margin-right: 150px;
  text-align: right;
  font-weight: bold;
}

/* --------------- Dark Mode (system preference) --------------- */
@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #f4f4f4;
  }

  .app {
    background: #1e1e1e;
    color: #f4f4f4;
  }

  .task-input {
    background: #2a2a2a;
    color: #fff;
    border: 1px solid #555;
  }

  .filter-btn {
    background: #333;
    color: #fff;
    border: 1px solid #555;
  }

  .filter-btn.active {
    background: #0077b5;
    color: white;
  }

  .task-item {
    border-bottom: 1px solid #333;
  }
}
